.rickshaw_graph .x_tick .title {
    left: -3px;
    font-size:10px;
}
.rickshaw_graph .x_tick {
    border-left: 1px dotted rgba(255,255,255,.3);
}
.metric {
    height: 185px;
}
.minichart {
    padding:10px;
    height:90px;
    margin:0 auto;
}
.minichart .x_tick .title {
    font-size:10px;
    margin-left:0px;
    left:3px;
}
#network-container {
    height:785px;
    position:relative;
    background-color:#101010;
}
#network-container .box-tools {
    position:absolute;
    z-index:900;
    right:10px;
    top:10px;
    display:none;
}
#network-container #node-marker {
    position:absolute;
    width:1px;
    height:1px;
    background-color:transparent;
}
#network-container #node-marker,
#network-container .popover {
    pointer-events: none;    
}
#network {
    height:785px;
    z-index:100;
}
.node-hover-title {
    font-size:12px;
    font-weight:bold;
}
.node-hover-data {
    padding-left: 0px;
    font-size: 11px;
    white-space:nowrap;
    list-style-type:none;
}
.node-hover-data li span {
    font-weight:bold;    
}
.filter-btn {
    width:19px;
    height:19px;
    display:block;
    padding:0;
    margin-bottom:5px;
    color:#fefefe;
}
.moderators-check-cnt {
    line-height:52px;
    font-size:12px;
}

.multi-metric {
        position: relative;
}
.multi-metric .chart-cnt {
        position: relative;
}
.rickshaw_graph .y_ticks {
        left: 0;
}
.multi-metric .chart-cnt .chart {
        position: absolute;
        top: 0;
        left: 40px;
}
.multi-metric .chart-cnt .y_ax {
        position: absolute;
        top: 0;
        left: 10px;
        width: 30px;
}
.multi-metric .chart-cnt .x_ax {
        position: absolute;
        bottom: 0;
        left: 40px;
        height: 30px;
}
.multi-metric .chart-legend {
    padding: 0 10px 20px 40px;
    overflow:hidden;
}
.multi-metric .chart-legend span {
    display:block;
    float:left;
    margin-right:20px;
}
.small-box .inner {
    height:85px;
}
.small-box h3 {
    font-size: 50px;
    margin: 0 10px 10px 0;
    float: right;
}
.small-box p {
    font-size: 20px;
}
