rdflib==4.2.0
Flask==0.10.1
Flask-Cors==1.10.0
requests==2.2.1
networkx==1.8.1
python-louvain==0.3
simplejson==3.6.4
PyLD==0.6.3
py-dateutil==2.2
-e git+https://github.com/RDFLib/rdflib-jsonld#egg=rdflib_jsonld
https://github.com/maparent/FuXi/archive/d5c4e3d3e389825b032072b4004bd2e22a9f8f1a.zip
